<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render partial: 'spree/shared/guided_tour' %>
    <%= render partial: 'spree/shared/head' %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N3D8K5G');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3D8K5G"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render partial: 'spree/components/layout/header' %>
    <%= flash_messages %>
    <%= render 'spree/components/navigation/breadcrumbs', taxon: @taxon, base_class: 'breadcrumbs' %>
    <main>
      <%= yield %>
    </main>
    <%= yield :templates %>
    <%= render partial: 'spree/shared/footer' %>
  </body>
</html>
