<section class="categories-grid">
  <article class="categories-grid__article hoodies-bg">
    <a class="categories-grid__link" href="t/categories/clothing/hoodies">
      <div class="heading">
        <h3 class="categories-grid__title">Hoodies</h3>
        <button type="submit" class="button button-tertiary"><%= t('shop_now') %></button>
      </div>
    </a>
    <%= image_tag "hoodies-category.jpg" %>
  </article>
  <article class="categories-grid__article tshirts-bg">
    <a class="categories-grid__link" href="t/categories/clothing/t-shirts">
      <h3 class="categories-grid__title">T-Shirts</h3>
      <button type="submit" class="button button-tertiary"><%= t('shop_now') %></button>
    </a>
    <%= image_tag "tshirts-category.jpg" %>
  </article>
  <article class="categories-grid__article ruby-bg">
    <a class="categories-grid__link" href="t/brand/ruby-apparel">
      <h3 class="categories-grid__title">Ruby</h3>
      <button type="submit" class="button button-tertiary"><%= t('shop_now') %></button>
    </a>
    <%= image_tag "ruby-category.jpg" %>
  </article>
  <article class="categories-grid__article solidus-bg">
    <a class="categories-grid__link" href="t/brand/solidus-apparel">
      <h3 class="categories-grid__title">Solidus</h3>
      <button type="submit" class="button button-tertiary"><%= t('shop_now') %></button>
    </a>
    <%= image_tag "solidus-category.jpg" %>
  </article>
</section>
