<%= render partial: 'spree/components/presentation/hero' %>

<%#= render partial: 'spree/components/presentation/welcome' %>

<%= render partial: 'spree/components/presentation/intro' %>

<%= render partial: 'spree/components/presentation/categories' %>

<%= render partial: 'spree/components/presentation/featured' %>

<section class="products-wrapper">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/components/products/products', locals: { products: @products } %>
  <% end %>
</section>

